header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(204, 211, 211);
    background-color: rgb(204, 218, 218);
    height: 80px;
    border-radius: 15px;
}
.search img{
    position: absolute;
    margin-top:10px;
    margin-left:14%; 
}
h5{
    font-size: 19px;
    margin-left: 10px;
   position: relative;
   bottom: 9px;
}
.search{
    margin-top: 20px;
    margin-right:15px; 
    color: black;
   
}
#flower{
    margin-top: 30px;
}
input{
    width: 500px;
    height: 30px;
    border-color: hotpink;   
    background-color: hotpink;
     
}
.navbar{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top:0px;
    height: 40px;
}
.navbar a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 25px;
    color:black;
}

#name{
    text-align: center;

}
.cart{
    margin-top: 20px;
    display: inline-block;
    padding: 2px 10px; 
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    min-width:160px;
    z-index: 1;
}
.dropdown-menu a{
    color: black;
    padding:5px 12px;
    text-decoration: none;
    display: block;
}
.dropdown{
   display: inline-block;
   position: relative;
}
.dropbtn{ 
 color:black;
 padding:16px;
 font-size:20px;
 border: none;
 background-color: white;
}
.dropdown:hover .dropdown-menu{
   display: block;
}
#star{
    color:goldenrod;   
}
.all{
    position: relative;
    bottom: 20px;
    margin-left: 10px;
}
h3{
    font-size: 29px;
}
.color{
    background-color:rgb(214, 208, 208);
    width: 300px;
    height:28%;
    position: relative;
    bottom: 30px;
}
.main{
    margin-top:40px;
    background-color:  rgb(210, 216, 222);
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
.main1{
    margin-top:30px;
    background-color:  rgb(210, 216, 222);
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
.main2{
    margin-top:30px;
    background-color:  rgb(210, 216, 222);
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    margin-top: 30px;
    height: 400px;
    border-radius: 15px;
}
.links a{
    display: flex;
    text-decoration: none;
    justify-content:space-evenly;
    color: black;
   
}
.links{
    display:flex;
    flex-direction: column; 
}
