body{
    background-color:wheat;
}
header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(204, 211, 211);
    background-color: rgb(204, 218, 218);
    height: 80px;
    border-radius: 15px;
}
.search img{
    position: absolute;
    margin-top:10px;
    margin-left:14%; 
}
h5{
    font-size: 19px;
    margin-left: 10px;
   position: relative;
   bottom: 9px;
}
.search{
    margin-top: 20px;
    margin-right:15px; 
    color: black;  
}
input{
    width: 500px;
    height: 30px;
    border-color: hotpink;   
    background-color: hotpink;
}
#name{
    text-align: center;
}
.cart{
    margin-top: 20px;
    display: inline-block;
    padding: 2px 10px; 
}
.for input{
 background-color: white;
 border: 2px solid black;
 margin-left:10%;
 border-radius:15px;
}
.for{
    margin-left:17%;
    font-size: larger;
}
#phonepay{
    width: 50px;
    margin-left: 22%;
}
#gpay{
    width: 50px;
    margin-left: 22%;
    position: relative;
}
#paytm{
    width: 50px;
    margin-left: 22%;
}
#delivery{
    width: 50px;
    margin-left: 22%;
}
button{
    width: 130px;
    height: 40px;
    margin-left: 30%;
    background-color: deepskyblue;
    border-radius: 10px;
}
label{
    position: relative;
    bottom:1px;
    font-family:cursive; 
}
.for{
    position: relative;
    top: 35px;
    font-family:cursive;   
}
#pnumber{
    width: 250px;
    height: 40px;
    position: relative;
    margin-left:40px;
}
#ntext{
    width: 250px;
    height: 40px;
}
#email{
    width: 250px;
    height: 40px;
    margin-right: 10px;
}
#cnumber{
    width: 250px;
    height: 40px;
}
#stext{
    width: 250px;
    height: 40px;
   
}
#text{
    width: 250px;
    height: 40px;
   
}
#aname{
    width: 250px;
    height: 60px;
    position: relative;
    margin-left:90px;
}
p{
    margin-left:15%;
    margin-top: 100px;
    font-size:25px;
}
h1{
    margin-left: 15%;
    margin-top:40px;
}
.details{
    position: relative;
    bottom: 15px;
    display: flex;
    justify-content: space-around;
    
}
.details input{
    margin-left: 25px;   
}
