body{
    background-color:bisque;
}
header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(204, 211, 211);
    background-color: rgb(204, 218, 218);
    height: 80px;
    border-radius: 15px;
}
.search img{
    position: absolute;
    margin-top:10px;
    margin-left:14%; 
}
h5{
    font-size:19px;
    margin-left: 10px;
   position: relative;
   bottom: 9px;
}
.search{
    margin-top: 20px;
    margin-right:15px; 
    color: black;
   
}
#flower{
    margin-top: 30px;
}
input{
    width: 500px;
    height: 30px;
    border-color: hotpink;   
    background-color: hotpink;
     
}
.navbar{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top:0px;
    height: 40px;
}
.navbar a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    color: darkviolet;
}

#name{
    text-align: center;

}
.cart{
    margin-top: 20px;
    display: inline-block;
    padding: 2px 10px; 
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color:white;
    min-width:160px;
    z-index: 1;
}
.dropdown-menu a{
    color: black;
    padding:5px 12px;
    text-decoration: none;
    display: block;
}
.dropdown{
   display: inline-block;
   position: relative;
}
.dropbtn{ 
 color:darkviolet;
 padding:16px;
 font-size:15px;
 border: none;
 background-color:bisque;
}
.dropdown:hover .dropdown-menu{
   display: block;
}
.black img{
    margin-top:10%;
    margin-left:15%;
    border-radius: 10px;
}
#star{
    color:goldenrod;   
}
.all{
    position: relative;
    bottom: 10px;
    margin-left: 10px;
}
.black{
    display: flex;
    position: relative;
}
.txt{
    margin-top:10%;
    margin-left: 30px;
    font-size:20px;
}
.txt1{
    margin-top:3%;
    margin-left: 30px;
    font-size:20px;
}
.pink img{
    margin-top:2%;
    margin-left:15%;
    border-radius: 10px;
}
.pink{
    display: flex;
    position: relative;
}
#qnumber{
    background-color: white;
    border: 2px solid black;
    margin-left: 2px;
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
}
#anumber{
    background-color: white;
    border: 2px solid black;
    margin-left: 2px;
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
}
h2{
    font-size:30px;
}
hr{
    margin-top: 30px;
}
.break hr{
   position: relative;
   bottom: 90px;
}
.remove{
    display: flex;
    margin-left: 25%;
    margin-top: 25%;
    position: relative;
    top:5px;
}
.remove p{
    font-size:30px;
}
.remove i{
    position: relative;
    top:37px;
    margin-left: 20px;
    font-size: 20px;
}
.remove_crazy{
    display: flex;
    margin-left: 25%;
    margin-top: 25%;
    position: relative;
    bottom: 100px;
}
.remove_crazy i{
    position: relative;
    top:37px;
    margin-left: 20px;
    font-size: 20px;
}
.remove_crazy p{
    font-size:30px;
}
button{
    width:150px;
    height: 40px;
    margin-left:60%;
    background-color: dodgerblue;
    font-size: 20px;
    border-radius: 20px;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    margin-top: 30px;
    height: 400px;
    border-radius: 15px;
}
 .links a{
    display: flex;
    text-decoration: none;
    justify-content:space-evenly;
    color: black;
    line-height:60px;
   
}
.links{
    display:flex;
    flex-direction: column; 
}
.total{
    display: flex;
    justify-content: space-around;
}
.order{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
    margin-left: 90px;
}
.price{
   margin-left:70%;
   position: relative;
   bottom: 50px;
}
.order p{
    font-size: 30px;
}
.price p{
    font-size: 30px;
}