
 header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(204, 211, 211);
    background-color: rgb(204, 218, 218);
    height: 80px;
    border-radius: 15px;
}
.search img{
    position: absolute;
    margin-top:10px;
    margin-left:14%; 
}
h3{
    margin-left: 10px;
}
.search{
    margin-top: 20px;
    margin-right:15px; 
    color: black;
   
}
input{
    width: 500px;
    height: 30px;
    border-color: hotpink;   
    background-color: hotpink;
}
.navbar{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top:0px;
    height: 40px;
}
.navbar a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    color: darkviolet;
}
.txt{
    position:absolute;
    margin-left:33%; 
    font-size: 35px;
    bottom:50%;
    color:black;
    font-style: italic;
}
.sample{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(215, 211, 211);
    border-radius: 15px;
}
.example{
    margin-top:30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(193, 188, 188);
    border-radius: 15px;
}
#name{
    text-align: center;

}
.cart{
    margin-top: 20px;
    display: inline-block;
    padding: 2px 10px; 
}
#back{
    margin-top: 10px;
    border-radius: 15px;
} 
footer{
    display: flex;
    justify-content: space-around;
    background-color: lightslategray;
    margin-top: 20px;
    height: 400px;
    border-radius: 15px;
}
.links a{
    display: flex;
    text-decoration: none;
    justify-content:space-evenly;
    color: black;
   
}
.links{
    display:flex;
    flex-direction:column;  
}
.quick a{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
#flower{
    margin-top: 25px;
}
.dropdown-menu{
     display: none;
     position: absolute;
    
     min-width:160px;
     z-index: 1;
}
.dropdown-menu a{
     color: black;
     padding:5px 12px;
     text-decoration: none;
     display: block;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropbtn{ 
  color:darkviolet;
  padding:16px;
  font-size:15px;
  border: none;
  background-color: white;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
