body{
    background-image:url(../IMG/index/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.login{
    border: 2px solid black;
    width: 400px;
    height: 500px;
    margin-left:40%;
    margin-top:15%;
}

#email{
    margin-top: 30px;
    width:300px;
    height: 30px;
    margin-left: 30px;
}
#password{
    margin-top: 30px;
    width:300px;
    height: 30px;  
    margin-left:30px;
}
a{
    color: deepskyblue;
    text-decoration: none;
    font-size: 20px;
    
}
button{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    margin-left: 20%;
    
}
h2{
    margin-left:40%;
    margin-top:30px;
}
