header{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(204, 211, 211);
    background-color: rgb(204, 218, 218);
    height: 80px;
    border-radius: 15px;
}
.search img{
    position: absolute;
    margin-top:10px;
    margin-left:14%; 
}
h5{
    font-size: 19px;
    margin-left: 10px;
   position: relative;
   bottom: 9px;
}
.search{
    margin-top: 20px;
    margin-right:15px; 
    color: black;
   
}
input{
    width: 500px;
    height: 30px;
    border-color: hotpink;   
    background-color: hotpink;
}
.navbar{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top:0px;
    height: 40px;
}
.navbar a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    color: darkviolet;
}
.txt{
    position:absolute;
    margin-left:33%; 
    font-size: 35px;
    bottom:53%;
    color:black;
}
#name{
    text-align: center;

}
.cart{
    margin-top: 20px;
    display: inline-block;
    padding: 2px 10px; 
}
#back{
    margin-top: 10px;
} 
.dropdown-menu{
    display: none;
    position: absolute;
    min-width:160px;
    z-index: 1;
}
.dropdown-menu a{
    color: black;
    padding:5px 12px;
    text-decoration: none;
    display: block;
   
}
.dropdown{
   display: inline-block;
   position: relative;
   bottom: 39px;
}
.dropbtn{ 
 color:darkviolet;
 padding:16px;
 font-size:15px;
 border: none;
 background-color:white;
}
.dropdown:hover .dropdown-menu{
   display: block;
}
h3{
    font-size: 29px;
}
.color{
    background-color:rgb(214, 208, 208);
    width: 300px;
    height:28%;
    position: relative;
    bottom: 30px;
}

#star{
    color:goldenrod; 
   
}
.all{
    position: relative;
    bottom: 10px;
    margin-left: 30px;
}
.cart-page{
    margin-top: 70px;
    margin-left: 50px;
    display: flex;
    font-size: larger;

}
fieldset{
    margin-top: 90px;
    margin-left: 15%;
    width: 1000px;
    border-radius: 20px;
    background-color: wheat;
}
.cart-page img{
    position: relative;
    bottom: 30px;
    margin-left:5px;
    border-radius: 15px;
}
button{
    width: 200px;
    height: 40px;
   padding: 7px 18px;
   margin-left: 30px;
   margin-top: 40px;
   background-color:orchid;
   border: 2px solid orchid;
   border-radius: 15px;
   font-size: 15px;
 
}
.text{
    margin-left: 30px;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(85, 85, 85);
    margin-top: 80px;
    height: 400px;
    border-radius: 15px;
    color:black;
}
.links a{
    display: flex;
    text-decoration: none;
    justify-content:space-evenly;
    color:black;
   
}
.links{
    display:flex;
    flex-direction: column; 
}