body{
   background-color: white;
}
h1 {
    color:black;
    text-align: center;
    margin-top: 22%;
    font-size:80px;
    position: relative;
    bottom: 280px;
    margin-left: 20px;
}
p{
    text-align: center;
    position: relative;
    bottom:300px;
    font-size:25px;
}
i{
  font-size: 150px;  
  color: darkgreen;
  margin-left:45%;
  margin-top: 20%;
}
a h6{
  margin-left: 48%;
  position: relative;
  bottom: 330px;
  color: black;
  font-size: 25px;

}
a{
  text-decoration: none;
}