body{
    overflow: hidden;
}

h2{
    margin-left:43%;
    position: relative;
    bottom:400px
}
h3{
    margin-left:42%;
    position: relative;
    bottom:370px;
}

#pay{
    border: 2px solid black;
    border-radius:30px;
    width:630px;
    height:670px;
    margin-left:30%;
    position: relative;
    bottom:440px;
}
#pay:hover{
    box-shadow: rgba(9, 6, 16, 0.2) 0px 7px 29px 8px;
}
#Credit{
    width: 50px;
    margin-left: 22%;
}
#UPI{
    width: 50px;
    margin-left: 22%;
    position: relative;
    
}
#Wallet{
    width: 50px;
    margin-left: 22%;
}
#Banking{
    width: 50px;
    margin-left: 22%;
    position: relative;
    
}
#delivery{
    width: 50px;
    margin-left:22%;
    
}
#pay label{
    margin-left:0px;
    margin-top: 50px;
    position: relative;
    top:100px;
    font-size: 20px; 
   
   
}
#pay input{
    position: relative;
    top:98px;
    margin-left:0px;
    margin-top:75px;
}
button{
   position: relative;
   bottom: 390px;
    width:200px;
    height: 40px;
    margin-left: 20px;
    font-size: 20px;
    border-radius:10px;
}
.btn{
  position: relative;
  right:-550px;

}
.images{
   margin-left:67%;
   display: flex;
   flex-flow: column;
}
#wallet1{
   position: relative;
   top:270px
}
#google1{
    position: relative;
    top:240px;
  
 }
 #net1{
    position: relative;
    top:280px
 }
 #delivery1{
    position: relative;
    top:310px
 }
 #atm1{
    position: relative;
    top:280px
 }
hr{
    border: 1px solid black;
}