body{
    background-color: rgb(234, 77, 228);
}
.profile{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius:5%;
    width: 1000px;
    height:750px;
    margin-left:15%;
    margin-top:7%;
}
img{
    position: relative;
    bottom:80%;
    width:400px;
    margin-left:10%;
   
}
#back {
    font-size:40px;
  
}
i{
      position: relative;
      top: 20px;
      margin-left:15px;
      color: black;
}
#email{
    margin-top: 30px;
    width:300px;
    height: 40px;
    margin-left: 60%;
    border-radius:10px;
}
#text{
    margin-top: 30px;
    width:300px;
    height: 40px;
    margin-left:60%;
    border-radius:10px;
}
#password{
    margin-top: 30px;
    width:300px;
    height: 40px;  
    margin-left:60%;
    border-radius:10px;
}
#date_of_birth{

    margin-top: 30px;
    width:300px;
    height: 40px;  
    margin-left:60%;
    border-radius:10px;
}

#phone_number{

    margin-top: 30px;
    width:300px;
    height: 40px;  
    margin-left:60%;
    border-radius:10px;
}

#address{

    margin-top: 30px;
    width:300px;
    height: 50px;  
    margin-left:60%;
    border-radius:10px;
}

button{
    display: flex;
    width: 200px;
    height: 35px;
    margin-top:20px;
    margin-left:30%;
    background-color: rgb(223, 125, 238);
    border-radius:10px;
    
}
h1{
    margin-left:45%;
    margin-top:50px;
}
