body{
    background-color:rgb(213, 189, 253);
    overflow: hidden;
}
.profile{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius:5%;
    width: 1000px;
    height:800px;
    margin-left:15%;
    margin-top:4%;
}
img{
    position: relative;
    top:-830px;
    width:400px;
    margin-left:4%;
   
}
#back {
    font-size:40px;
  
}
i{
      position: relative;
     top:20px;
      margin-left:15px;
      color: black;
}
#email{
    margin-top: 30px;
    width:300px;
    height: 40px;
    margin-left: 60%;
    border-radius:10px;
}
#first_name{
    margin-top: 30px;
    width:300px;
    height: 40px;
    margin-left:60%;
    border-radius:10px;
}
#last_name{
    margin-top: 30px;
    width:300px;
    height: 40px;
    margin-left:60%;
    border-radius:10px;
}
#password{
    margin-top: 30px;
    width:300px;
    height: 40px;  
    margin-left:60%;
    border-radius:10px;
}
#date_of_birth{

    margin-top: 30px;
    width:300px;
    height: 40px;  
    margin-left:60%;
    border-radius:10px;
}

#phone_number{

    margin-top: 30px;
    width:300px;
    height: 40px;  
    margin-left:60%;
    border-radius:10px;
}

#address{

    margin-top: 30px;
    width:300px;
    height: 50px;  
    margin-left:60%;
    border-radius:10px;
}

button{
    font-size:20px;
    display: flex;
    width: 200px;
    height: 45px;
    position: relative;
    bottom:250px;
    margin-left:13%;
    background-color:white;
    border-radius:10px;
    margin-top: 20px;
    
}
h1{
    margin-left:45%;
    margin-top:50px;
}
